---
layout: landing
targetx_form: true
baseurl: '/'
title: Welcome
description: ''
icon_section_heading: Why Choose KCC?
testimonials_heading: What Our Students Say
testimonials:
  - portrait: /uploads/sierra-cureton_DSC_1111.jpg
    portrait_alt_text: Sierra Cureton
    quote: >-
      I was able to get tons of friends right away (at KCC). So far my experiences at KCC have been great. All my teachers
      have been super&nbsp;welcoming.
    name: >-
      Sierra Cureton of Manteno<br>
      <span class="ms-4">2019 Manteno High School Graduate
    year:
  - portrait: /uploads/drew-scivally_DSC_1117.jpg
    portrait_alt_text: Drew Scivally
    quote: >-
      I chose to come to KCC because they had programs that really fit what I am going for. I have been meeting new people. I
      like that about school. That is what college is about—meeting new people and experiencing new&nbsp;things.
    name: >-
      Drew Scivally of Kankakee<br>
      <span class="ms-4">2019 Herscher High School Graduate</span>
    year:
  - portrait: /uploads/mccall-schunke_DSC_0074.jpg
    portrait_alt_text: McCall Schunke
    quote: >-
      I know that KCC offers the same college experience and level of curriculum, and hopefully will lessen the burden of
      financial debt after I graduate. I’m in a biology course right now and we do a bunch of labs. Each time we get a
      different lab group, so I’ve been able to build a lot of friendships. I have also seen many of my peers from high
      school, so it’s really nice to see some familiar&nbsp;faces.
    name: >-
      McCall Schunke of Watseka<br>
      <span class="ms-4">2019 Watseka Community High School Graduate</span>
    year:
_inputs:
  targetx_form:
    hidden: true
  testimonials[*].name:
    type: textarea
---

{% include header.html %}
{% include benefits.html %}
{% include bottom-action-call.html %}
