<section class="benefits__section--marg">
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h5 class="benefits__typography--h5--black text-center editable">
          Learn More About What Kankakee Community College Has to Offer.
        </h5>
        <a
          href="#page-top"
          class="btn btn-primary btn-lg buttons__btn-marg buttons__blue-btn mb-5 text-center">
          GET STARTED
        </a>
        <div class="text-center">
          <img
            data-src="{{ page.baseurl }}uploads/iccmc-logo_blue-transparent.png"
            src="{{ page.baseurl }}assets/img/placeholder_16to9.jpg"
            class="img-fluid"
            height="256"
            width="440"
            alt="For every student. For every community. The Community Colleges of Illinois.">
        </div>
      </div>
    </div>
  </div>
</section>
{% include foot-note.html %}
