<section class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col">
        <hr>
        <sup id="footNote1">*&nbsp;[Winner will be notified by email. If a winner does not claim his/her prize within 21 calendar days of being contacted, or is disqualified for any reason, KCC reserves the right to determine an alternate winner or not to award that winner’s prize, at its sole discretion. Prizes are not transferrable, redeemable for cash or exchangeable for any other prize. *Amazon.com is not a sponsor of this promotion. Except as required by law, Amazon.com Gift Cards (“GCs”) cannot be transferred for value or redeemed for cash. GCs may be used only for purchases of eligible goods at Amazon.com or certain of its affiliated websites. For complete terms and conditions, see www.amazon.com/gc-legal. GCs are issued by ACI Gift Cards LLC, a Washington limited liability company. All Amazon ®,™ & © are IP of Amazon.com, Inc. or its affiliates. Amazon® gift cards have no expiration date or service fees.]&nbsp;<a href="#reference1" class="links__back-to-ref">↩</a></sup>
        <hr>
      </div>
    </div>
  </div>
</section>
