<header>
  <div class="container-fluid positioning__offset-global-nav">
    <div class="row">
      <div class="col-xl-8 header__bg-primary-blue">
        <div class="row">
          <div class="col-12 order-2 order-xl-1 pt-2 py-lg-3">
            <div class="row header__banner--row">
              <div class="col-md-6">
                <div class="header__banner--typography--wrapper">
                  <p class="header__banner--typography header__banner--typography--mb">
                    <span class="header__banner--typography--caps">Give us some info and</span><br>
                    <span class="header__banner--typography--yellow">Win Prizes</span><br>
                    <span class="header__banner--typography--bold">$50 Amazon gift cards&nbsp;<sup><a href="#footNote1" id="reference1">*</a></sup></span><br>
                  </p>
                  <!--
                  <p class="header__banner--typography">
                    Drawing dates:<br>Three $50 cards on Dec. 10, 2019.<br>
                    Three $50 cards on May 10, 2020.
                  </p>
                  --><p>&nbsp;<br>&nbsp;<br></p>
                </div>
              </div>
              <div class="col-md-6">
                <img src="{{ page.baseurl }}uploads/gift-card.svg" class="svg__gift-card" alt="Amazon gift card">
                <img src="{{ page.baseurl }}uploads/arrow.svg" class="svg__arrow" alt="">
              </div>
            </div>
          </div>
          <div class="col-12 order-1 order-xl-2 px-0">
            <img src="{{ page.baseurl }}uploads/DSC_0774_16x9.jpg" class="header__bg" alt="">
          </div>
        </div>
        <!--
        <span class="typography__register--caption">Adrian Benfield, Class of 2017</span>
        -->
      </div>
      <div class="col-xl-4 positioning__accordian--padding">
        <h4 id="page-top" class="typography__register-h4 text-center">ABOUT YOU</h4>
        <!--
          <h5 class="typography__register-h5 text-center">Classes Begin Jan. 7th</h5>
        <h5 class="typography__register-h5 text-center">Seats Are Filling Fast</h5>
        -->
        <div class="targetx__wrapper">
          {% include targetx-form.html %}
        </div>
      </div>
    </div>
  </div>
</header>
